<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleSafeBrowsingKey</key>
	<string>AIzaSyCWjFQxcMapLVXcpye939ddPWk6IdL-mYY</string>
	<key>VirusTotalKey</key>
	<string>c785da746f0a67e2e1cb575fc482aad3f5cecb5a1d3be0fa97253cc23ed3acf8</string>
</dict>
</plist>
